.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  padding: 1rem;
  display: flex;
  background-color: teal;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.4vmin);
  color: lightyellow;
}

.App-header h1 {
  margin: 0.6rem 0 0.2rem;
}

.App-main {
  padding: 1rem;
}
